.footer {
  background-color: lab(46.19% 0.67 -24.42); /* Tailwind's gray-900 */
  color: #ffffff;
  text-align: center;
  padding:2rem 0; /* py-4 */
  font-family: Arial, sans-serif;
   position: absolute;
   border-radius: 80px 10px 80px 20px;
  
   
   width: 100%;
   bottom: 0;
    border: 2px solid oklab(47.99% 0.03818 -0.28775);


 
}
p {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.07rem

}
p:hover {
    color: lab(44.91% 49.78 27.76); /* Lighter shade on hover */
    transition: color 0.3s ease;
}
address {
    font-style: normal;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    color: hsl(0, 0%, 8%); /* Tailwind's gray-300 */
}

footer:hover {
    background-color: lab(47.31% 79.6 -42.89); /* Darker shade on hover */
    transition: background-color 0.3s ease;
}



